<table>
    <tr>
      <td>story </td>
      <td>new </td>
      <td>assigned </td>
      <td>doing</td>
    </tr>
    <tr ng-repeat="story in fixture_03">
        <td>
        {{story.id}} </br>
        {{story.subject}} 
        </td>
        <td>
          <table border="1px" cellspacing="10px" cellpadding="5px">
              <tr ng-repeat="issue in story.children | filter:filterNew">
                  <td>
                  {{issue.id}}: {{issue.subject}} 
                  </td>
              </tr>
          </table>
        </td>
        <td>
          <table border="1px" cellspacing="10px" cellpadding="5px">
              <tr ng-repeat="issue in story.children | filter:filterAssigned">
                  <td>
                  {{issue.id}}: {{issue.subject}} 
                  </td>
              </tr>
          </table>
        </td>
        <td>
          <table border="1px" cellspacing="10px" cellpadding="5px">
              <tr ng-repeat="issue in story.children | filter:filterDoing">
                  <td>
                  {{issue.id}}: {{issue.subject}} 
                  </td>
              </tr>
          </table>
        </td>
    </tr>
</table>
